<div class="jumbotron jumbotron-fluid text-center mb-0">
    <div class="py-5">
        <div class="container pb-2">
            <h2 class="font-italic mt-3">We're leaders in</h2>
            <h1>Creative Digital Recruitment</h1>
            <p class="mt-5 m-0">Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity </p>
            <p>and that reflects on the type of jobs we recruit for.</p>
            <button type="button" class="btn btn-outline-info text-uppercase p-3 mt-4">Find out more about us</button>
        </div>
    </div>
</div>