<div class="container mt-5 text-center">
    <form>
        <h3 class="mb-5">Angular Image Crop Example - Laratutorials.com</h3>
        <div class="col-md-12">
            <input type="file" (change)="onFileChange($event)" />
        </div>
        <div class="col-md-8">
            <image-cropper style="width: 200px;" [imageChangedEvent]="imgChangeEvt" [resizeToWidth]="310" [resizeToHeight]="325" format="png" (imageCropped)="cropImg($event)" (imageLoaded)="imgLoad()" (cropperReady)="initCropper()" (loadImageFailed)="imgFailed()">
            </image-cropper>
        </div>
        <div class="col-md-4">
            <h6>Image Preview</h6>
            <img [src]="cropImgPreview" style="width: 200px;" />
        </div>
        <button type="submit" class="btn btn-primary">Primary</button>
    </form>
</div>
<br>