.nav-image {
    background-image: url("../../assets/img1.jpg");
    background-color: #cccccc;
    height: 586px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid blue;
}

.nav-link {
    color: white !important;
}

.nav-link:focus,
.nav-link:hover {
    border-top-color: rgb(34, 210, 241);
    border-top-style: solid;
}

.nav-link.active {
    border-top-color: rgb(34, 210, 241);
    border-top-style: solid;
}

.italic {
    font-style: italic;
    font-weight: 400;
    font-size: xx-large;
}

.font-italic {
    font-style: italic;
}

.margin-l-30 {
    margin-left: 30px;
}

.margin-t-30 {
    margin-top: 100px;
}

.radius {
    border-radius: 0px;
}

.example-chip-list {
    width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0, 0, 0, 0);
}