<div class="nav-image">
    <div class="container pt-5">
        <div class="row text-white text-uppercase">
            <div class="col-sm-5">
                <h2>Demo app</h2>
            </div>
            <div class="col-sm-7">
                <nav class="nav">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">about us</a>
                    <a class="nav-link" href="#">jobs</a>
                    <a class="nav-link" href="#">clients</a>
                    <a class="nav-link" href="#">employers</a>
                    <a class="nav-link" href="#">contact us</a>
                </nav>
            </div>
        </div>
        <div class="pt-5">
            <div class="container pt-5 pl-0">
                <h1 class="italic text-white mt-3">I'm looking for...</h1>
            </div>
        </div>
        <div class="pt-2">
            <div class="container pl-0">
                <div class="row">
                    <div class="col-sm-9">
                        <input type="email" class="form-control radius" placeholder="Enter a job description">
                    </div>
                    <div class="col-sm-2 offset-1">
                        <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>&nbsp;Submit</button>
                    </div>
                </div>
                <div class="container row mt-4 ">
                    <div class="col-sm-6">
                        <span>
                            <input type="checkbox" class="form-check-input" id="Check1">
                            <label class="form-check-label font-italic text-white" for="Check1">&nbsp;&nbsp;&nbsp;Full Time</label>
                        </span>
                        <span class="margin-l-30">
                            <input type="checkbox" class="form-check-input " id="Check2">
                            <label class="form-check-label font-italic text-white" for="Check2">&nbsp;&nbsp;&nbsp;Part Time / Casual / Freelance</label>
                        </span>
                    </div>
                    <div class="col-sm-3">
                        <select class="custom-select form-control radius">
                              <option selected disabled>Select Your Location...</option>
                              <option value="1">Andheri</option>
                              <option value="2">Malad</option>
                              <option value="3">Dadar</option>
                            </select>
                    </div>
                </div>
                <div class="text-center margin-t-30">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#RegisterModal">
                        Register
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-content></app-content>
<app-footer></app-footer>

<div class="jumbotron jumbotron-fluid mb-0 py-3">
    <div class="container">
        <div class="row my-5">
            <span class="d-flex mb-4"><i class="material-icons text-info">email</i><input type="text" style="height:20px" ></span>
            <div class="col-8">
                <p class=" m-0">Copyright &copy; 2014 Two Bytes Consulting.<b>Terms & Policies.</b></p>
            </div>
            <div class="col-4">
                <button class="btn btn-outline-info" style="padding: 0px 15px;" data-bs-toggle="tooltip" data-bs-placement="right" title="692"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
      </svg>&nbsp;Tweet </button>
                <button class="btn btn-outline-primary ml-5" style="padding: 0px 15px;" data-bs-toggle="tooltip" data-bs-placement="right" title="117"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
      </svg>&nbsp;Like </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="RegisterModal" tabindex="-1" aria-labelledby="RegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h2 class="modal-title text-white m-0" id="RegisterModalLabel">Register</h2>
                <button type="button" class="btn-close mt-1 mr-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="container row">

                        <div class="col-4 text-center">
                            <div class="mb-3">
                                <h3 class="mb-1">Image Preview</h3>
                                <img [src]="cropImgPreview?cropImgPreview:'../../assets/upload.jpg'" style="width: 75%;" />
                                <!-- <img [src]="url ? url :''" width="100%" height="300"> -->

                            </div>
                            <div class="mb-1">
                                <input type="file" class="form-control padding35" (change)="onFileChange($event)" formControlName="imageInput" accept="image/*" />
                                <!-- <input id="img" type="file" class="form-control padding35" (change)="selectFile($event)" formControlName="imageInput" accept="image/*"> -->
                                <small *ngIf="imageInput && imageInput.invalid && imageInput.touched" class="form-text text-danger">Please Select and Crop Image.</small>
                            </div>

                            <div class="form-group">
                                <!-- <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div> -->
                                <!-- <input type="hidden" id="file" [value]="url" *ngIf="url" formControlName="image"> -->
                                <input type="hidden" id="file" [value]="cropImgPreview" *ngIf="cropImgPreview" formControlName="image">
                                <h3 class="mb-1">Crop Image (size restriction - 310x325 px)</h3>
                                <image-cropper style="width: 75%;height:250px;text-align: center !important;" [imageChangedEvent]="imgChangeEvt" [resizeToWidth]="310" [resizeToHeight]="325" format="png" (imageCropped)="cropImg($event)" (imageLoaded)="imgLoad()" (cropperReady)="initCropper()"
                                    (loadImageFailed)="imgFailed()">
                                </image-cropper>
                            </div>

                        </div>
                        <div class="col-8">

                            <div class="row">
                                <div class="col-6 mb-3">
                                    <input type="text" class="form-control" formControlName="fname" placeholder="First Name">
                                    <small *ngIf="fname && fname.invalid && fname.touched" class="form-text text-danger">Please Enter Only alphabetic 20 characters.</small>
                                </div>
                                <div class="col-6 mb-3">
                                    <input type="text" class="form-control" formControlName="lname" placeholder="Last Name">
                                    <small *ngIf="lname && lname.invalid && lname.touched" class="form-text text-danger">Please Enter Last Name.</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                                <small *ngIf="email && email.invalid && email.touched" class="form-text text-danger">Please Enter Email Id.</small>
                            </div>
                            <div class="mb-3">
                                <input type="number" min="0" class="form-control" formControlName="phone" placeholder="(541) 754-3010">
                                <small *ngIf="phone && phone.invalid && phone.touched" class="form-text text-danger">Please Enter Phone No.</small>
                            </div>
                            <div class="row">
                                <div class="col-2 mb-3">
                                    <h3 class="mt-3">Age</h3>
                                </div>
                                <div class="col-10 mb-3">
                                    <ng5-slider [(value)]="value" formControlName="age" [options]="options"></ng5-slider>
                                </div>
                                <small *ngIf="age && age.invalid && age.touched" class="form-text text-danger">Please Enter Age.</small>
                            </div>

                            <div class="mb-3">
                                <select class="custom-select form-control radius" placeholder="State" formControlName="state">
                                      <option value="" selected disabled hidden>State</option>
                                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                                      <option value="Maharastra">Maharastra</option>
                                      <option value="Bihar">Bihar</option>
                                    </select>
                                <small *ngIf="state && state.invalid && state.touched" class="form-text text-danger">Please Select State.</small>
                            </div>
                            <div class="mb-3">
                                <select class="custom-select form-control radius" placeholder="Country" formControlName="country">
                                      <option value="" selected disabled hidden>Country</option>
                                      <option value="India">India</option>
                                      <option value="Algeria">Algeria</option>
                                      <option value="Afghanistan">Afghanistan</option>
                                    </select>
                                <small *ngIf="country && country.invalid && country.touched" class="form-text text-danger">Please Select Country.</small>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="fname" placeholder="Address" formControlName="address">
                                <small *ngIf="address && address.invalid && address.touched" class="form-text text-danger">Please Enter Address.</small>
                            </div>
                            <div class="mb-3">
                                <mat-form-field class="example-chip-list" appearance="outline">
                                    <mat-chip-list #chipList aria-label="Interset selection">
                                        <mat-chip *ngFor="let inter of interest" [selectable]="selectable" [removable]="removable" (removed)="remove(inter)">
                                            {{inter.name}}
                                            <button matChipRemove *ngIf="removable">
                                      <mat-icon>cancel</mat-icon>
                                    </button>
                                        </mat-chip>
                                        <input placeholder="Tags" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" formControlName="tags">
                                    </mat-chip-list>
                                </mat-form-field>
                                <small *ngIf="tags && tags.invalid && tags.touched" class="form-text text-danger">Please Enter Your Interset.</small>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="check">
                                <label class="form-check-label" for="exampleCheck1">subscribe to newsletter</label>
                            </div>

                            <div class="float-right">
                                <button type="button" id="cancel" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" [disabled]="formValue.invalid" class=" ml-4 btn btn-primary" (click)="postRegisterDetails()">Submit</button>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>