.nav-link {
    color: white !important;
}

.nav-link:focus,
.nav-link:hover {
    border-top-color: rgb(34, 210, 241);
    border-top-style: solid;
}

.nav-link.active {
    border-top-color: rgb(34, 210, 241);
    border-top-style: solid;
}