<div class="bg-info">
    <div class="container pt-5 pb-4 ">
        <div class="row text-white text-uppercase">
            <div class="col-sm-5">
                <h2><a routerLink="/home" class="text-white text-decoration-none">Demo app</a></h2>
            </div>
            <div class="col-sm-7">
                <nav class="nav">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">about us</a>
                    <a class="nav-link" href="#">jobs</a>
                    <a class="nav-link" href="#">clients</a>
                    <a class="nav-link" href="#">employers</a>
                    <a class="nav-link" href="#">contact us</a>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5" *ngFor="let item of registerData">
    <h1 class="text-info mb-3">Profile</h1>
    <div class="row my-5">
        <div class="col-sm-4 ">
            <div class="mb-3">
                <img src="{{ imagevar}}" class="mb-3" width="100%" height="300">
                <div class="row">
                    <div class="col-sm-6 ">
                        <button type="button" class=" btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#imageModal">Edit Photo</button>
                    </div>
                    <div class="col-sm-6 ">
                        <button type="button" class=" btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#RegisterModal">Edit Profile</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-7 offset-1">

            <h2>
                I'm {{fnamevar}} {{lnamevar}} and i'm above {{agevar}} years and you can send your emails to {{emailvar}}.
            </h2>
            <h2>I like to play <span *ngFor="let inter of interest">{{inter.name}}, </span> please send me newsletters. Please reach out to me on my phone number {{phonevar}}.</h2>
            <button type="button" class=" btn btn-success ">I Agree</button>

        </div>
    </div>
</div>
<app-footer></app-footer>

<!-- Modal -->
<div class="modal fade" id="RegisterModal" tabindex="-1" aria-labelledby="RegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h2 class="modal-title text-white m-0" id="RegisterModalLabel">Edit Profile</h2>
                <button type="button" class="btn-close mt-1 mr-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="container row">
                        <div class="col">

                            <div class="row">
                                <div class="col-6 mb-3">
                                    <input type="text" class="form-control" formControlName="fname" placeholder="First Name">
                                    <small *ngIf="fname && fname.invalid && fname.touched" class="form-text text-danger">Please Enter Only alphabetic 20 characters.</small>
                                </div>
                                <div class="col-6 mb-3">
                                    <input type="text" class="form-control" formControlName="lname" placeholder="Last Name">
                                    <small *ngIf="lname && lname.invalid && lname.touched" class="form-text text-danger">Please Enter Last Name.</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                                <small *ngIf="email && email.invalid && email.touched" class="form-text text-danger">Please Enter Email Id.</small>
                            </div>
                            <div class="mb-3">
                                <input type="number" min="0" class="form-control" formControlName="phone" placeholder="(541) 754-3010">
                                <small *ngIf="phone && phone.invalid && phone.touched" class="form-text text-danger">Please Enter Phone No.</small>
                            </div>
                            <div class="row">
                                <div class="col-2 mb-3">
                                    <h3 class="mt-3">Age</h3>
                                </div>
                                <div class="col-10 mb-3">
                                    <ng5-slider [(value)]="value" formControlName="age" [options]="options"></ng5-slider>
                                </div>
                                <small *ngIf="age && age.invalid && age.touched" class="form-text text-danger">Please Enter Age.</small>
                            </div>

                            <div class="mb-3">
                                <select class="custom-select form-control radius" placeholder="State" formControlName="state">
                                      <option value="" selected disabled hidden>State</option>
                                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                                      <option value="Maharastra">Maharastra</option>
                                      <option value="Bihar">Bihar</option>
                                    </select>
                                <small *ngIf="state && state.invalid && state.touched" class="form-text text-danger">Please Select State.</small>
                            </div>
                            <div class="mb-3">
                                <select class="custom-select form-control radius" placeholder="Country" formControlName="country">
                                      <option value="" selected disabled hidden>Country</option>
                                      <option value="India">India</option>
                                      <option value="Algeria">Algeria</option>
                                      <option value="Afghanistan">Afghanistan</option>
                                    </select>
                                <small *ngIf="country && country.invalid && country.touched" class="form-text text-danger">Please Select Country.</small>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="fname" placeholder="Address" formControlName="address">
                                <small *ngIf="address && address.invalid && address.touched" class="form-text text-danger">Please Enter Address.</small>
                            </div>
                            <div class="mb-3">
                                <mat-form-field class="example-chip-list w-100" appearance="outline">
                                    <mat-chip-list #chipList aria-label="Interset selection">
                                        <mat-chip *ngFor="let inter of interest" [selectable]="selectable" [removable]="removable" (removed)="remove(inter)">
                                            {{inter.name}}
                                            <button matChipRemove *ngIf="removable">
                                      <mat-icon>cancel</mat-icon>
                                    </button>
                                        </mat-chip>
                                        <input placeholder="Tags" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" formControlName="tags">
                                    </mat-chip-list>
                                </mat-form-field>
                                <small *ngIf="tags && tags.invalid && tags.touched" class="form-text text-danger">Please Enter Your Interset.</small>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="check">
                                <label class="form-check-label" for="exampleCheck1">subscribe to newsletter</label>
                            </div>

                            <div class="float-right">
                                <button type="button" id="cancel" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" [disabled]="formValue.invalid" class=" ml-4 btn btn-primary" (click)="updateRegisterDetails()">Submit</button>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="RegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h2 class="modal-title text-white m-0" id="RegisterModalLabel">Edit Image</h2>
                <button type="button" class="btn-close mt-1 mr-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="container row">

                        <div class="col-6">
                            <div class="mb-3">
                                <!-- <img [src]="url ? url :'../../assets/upload.jpg'" width="100%" height="300">
                                <h3 class="mb-1">Image Preview</h3> -->
                                <img [src]="cropImgPreview?cropImgPreview:'../../assets/upload.jpg'" style="width: 75%;" />
                            </div>
                            <div class="mb-3">
                                <!-- <input id="img" type="file" class="form-control padding35" (change)="selectFile($event)" formControlName="imageInput" accept="image/*"> -->
                                <input type="file" class="form-control padding35" (change)="onFileChange($event)" formControlName="imageInput" accept="image/*" />
                                <small *ngIf="imageInput && imageInput.invalid && imageInput.touched" class="form-text text-danger">Please Select and Crop Image.</small>
                            </div>

                            <!-- <div class="form-group">
                                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                                <input type="hidden" id="file" [value]="url" *ngIf="url" formControlName="image">
                            </div> -->

                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <!-- <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div> -->
                                <!-- <input type="hidden" id="file" [value]="url" *ngIf="url" formControlName="image"> -->
                                <input type="hidden" id="file" [value]="cropImgPreview" *ngIf="cropImgPreview" formControlName="image">
                                <h3 class="mb-1">Crop Image (size restriction - 310x325 px)</h3>
                                <image-cropper style="width: 75%;height:250px;text-align: center !important;" [imageChangedEvent]="imgChangeEvt" [resizeToWidth]="310" [resizeToHeight]="325" format="png" (imageCropped)="cropImg($event)" (imageLoaded)="imgLoad()" (cropperReady)="initCropper()"
                                    (loadImageFailed)="imgFailed()">
                                </image-cropper>
                            </div>
                        </div>

                        <div>
                            <button type="button" id="cancel1" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" [disabled]="formValue.invalid" class="float-right ml-4 btn btn-primary" (click)="editPhoto()">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>