<div class="bg-dark text-center py-5">
    <div class="py-5">
        <div class="container py-4">
            <h3 class="text-white">Subscribe to our Job Seeker mailing List</h3>
            <div class="row">
                <div class="col-4 offset-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Your Email Address">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons">email</i></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>